/*
    메인 색상
    040D12 rgb(4, 13, 18)
    183D3D rgb(24, 61, 61)
    5C8374 rgb(92, 131, 116)
    93B1A6 rgb(147, 177, 166)
*/

.admin-member-tbl-box > table {
  width: 100%;
  border-spacing: 0;
}

.admin-member-tbl-box > table td {
  text-align: center;
  padding: 5px;
  border: 1px solid #eee;
}

.admin-member-tbl-box > table > thead td {
  background-color: #040d12;
  color: #fff;
}

.admin-paging-wrap {
  margin-top: 50px;
}

.admin-board-tbl > table {
  width: 100%;
  border-spacing: 0;
}

.admin-board-tbl td {
  text-align: center;
  padding: 10px 5px;
}

.admin-board-tbl td.title-td {
  text-align: left;
}

.admin-board-tbl td.title-td > div {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-board-tbl > table > thead td {
  border-top: 2px solid #040d12;
  border-bottom: 2px solid #040d12;
  color: #040d12;
  font-family: ns-b;
}

.admin-board-tbl > table > tbody td {
  border-bottom: 1px solid #eee;
}

.status-td .PrivateSwitchBase-input + span {
  background-color: #fff;
}

.status-td .PrivateSwitchBase-input:checked + span {
  background-color: #040d12;
}

.status-td
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #040d12;
}

.title-td > div {
  cursor: pointer;
}
